{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - Controle des Equipes{% endblock %}

{% block content %}

    <h1>Tableau de Bord</h1>
    <form>

    </form>
    <ul>
        {% for equipe in equipes %}
            <li><a href="{{ path('account', { 'name': equipe.username }) }} ">{{ equipe.username }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}