{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - Liste des courses{% endblock %}
{% block div %}
    <h1>Liste des courses</h1>
    <p><small>Voici les résultats par catégorie de la 40eme édition des 24 heures des l'INSA.<br/>
       Comme les années précédentes, les classements sont mixtes, et nous tenons à saluer <br/>
       la performance des sportives féminines qui se sont particulièrement illustrées cette année.</small><br/>
       Un grand bravo à <strong>Blandine BRELAY</strong> qui a battu le record de la catégorie Vélo solo féminin avec 607,4 km parcourus !
    </p>
{% endblock %}
{% block content %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Résultats</th>
            </tr>
        </thead>
        <tbody>
        {% for course in edition.courses %}
            <tr>
                <td>{{ course.nom }}</td>
                <td><a href="{{ path('course_resultat',{'id':course.id}) }}">{{ course.nom }}.pdf</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}