{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - Votre compte{% endblock %}

{% block content %}   

<h1>Informations sur le compte {{app.user.username}} </h1>

{% endblock %}
