{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - Génération de mailing{% endblock %}
{% block div %}
    <h1>Mailings classées</h1>
{% endblock %}
{% block content %}


    <h3>Mailing de tous les joueurs</h3>
    {% for joueur in tousJoueurs %}
        {% if joueur.getEmail() | length > 0 %}{{ joueur.email }},{% endif %}
    {% endfor %}

    <h3>Mailing par course</h3>
    {% for course in listeCourses %}
        <h5>{{ course.getNom() }}</h5>
        {% for equipe in course.getEquipes() %}
            {% for joueur in equipe.getJoueurs() %}
                {% if joueur.getEmail() | length > 0 %}{{ joueur.getEmail()  }},{% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

{% endblock %}