parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: ~
    database_name: PUT YOUR DB NAME HERE
    database_user: DB USER
    database_password: DB PASSWORD

    mailer_transport: gmail
    mailer_host: ~
    mailer_user: PUT GMAIL ADDRESS HERE
    mailer_password: PASSWORD FOR GMAIL
    mailer_encryption: ssl
    mailer_auth: login

    locale: fr
    secret: ThisTokenIsNotSoSecretChangeIt

    app_webmaster: 24h
    admin_password: PASSWORD FOR ADMIN USER
