jms_security_extra:
    secure_all_services: false
    expressions: true

security:


    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH ]



    firewalls:
        login_firewall:
            pattern: ^/login$
            anonymous: ~       
        secured_area:
            pattern: ^/
            anonymous: ~
            form_login:
                login_path: login
                check_path: login_check
            logout:
                path: /logout
                target: /accueil

    providers:
        chain_provider:
            chain:
                providers: [in_memory, user_db]
        in_memory:
            memory:
                users: 
                    admin: { password: %admin_password%, roles: 'ROLE_ADMIN' }
        user_db:
            entity: { class: Rotis\CourseMakerBundle\Entity\Equipe, property: username }
        
    access_control:
        - { path: ^/equipe, role: ROLE_USER }
        - { path: ^/admin_equipes, role: ROLE_ADMIN }
        - { path: ^/infos_pratiques, role : IS_AUTHENTICATED_ANONYMOUSLY }
        - {path : ^/contact, role : IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/accueil, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/logout, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/login_check, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/create, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/, role: ROLE_ADMIN }
        - { path: ^/edit, role: ROLE_USER }
        - { path: ^/_profiler, role: IS_AUTHENTICATED_ANONYMOUSLY }

    encoders:
        Symfony\Component\Security\Core\User\User:
            algorithm: sha1
            iterations: 1
            encode_as_base64: false

        Rotis\CourseMakerBundle\Entity\Equipe: sha512
