Rotis\CourseMakerBundle\Entity\Course:
  type: entity
  table: null
  repositoryClass: Rotis\CourseMakerBundle\Entity\CourseRepository
  fields:
    id:
      type: integer
      id: true
      generator:
        strategy: AUTO
    nom:
      type: string
      length: 255
    inscriptions_ouvertes:
      type: boolean
    url:
      type: string
      length: 255
    description:
      type: text
    datetime_debut:
      type: datetime
    datetime_fin:
      type: datetime
  manyToOne:
    edition:
      targetEntity: Edition
      inversedBy: courses
    type:
      targetEntity: Type
  manyToMany:
    categories:
      targetEntity: Categorie
      mappedBy: courses
  oneToMany:  
    equipes:
      targetEntity: Equipe
      mappedBy: course
  lifecycleCallbacks: {  }
