<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <fieldset>
            <legend>Choix de la catégorie</legend>
            <input type="radio" name="cate" id="soloCate" value="Solo" checked="checked" />
            <label for="soloCate">Solo</label>
            <input type="radio" name="cate" id="multiCate" value="Equipe" />
            <label for="multiCate">Equipe</label>
        </fieldset>
        <fieldset>    
            <legend>Choix du type de course</legend>
            <input type="radio" name="moyen" id="veloMoyen" value="Velo" checked="checked" />
            <label for="veloMoyen">Velo</label>
            <input type="radio" name="moyen" id="piedMoyen" value="Pied" />
            <label for="piedMoyen">Pied</label>
        </fieldset>
        <fieldset>
            <legend>Choix de la compétition</legend>    
            <input type="radio" name="course" id="courseLoisir" value="Loisir" checked="checked" />
            <label for="courseLoisir">Loisir</label>
            <input type="radio" name="course" id="coursePro" value="Pro" />
            <label for="coursePro">Pro</label>
        </fieldset>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
