{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - Accueil{% endblock %}

{% block div %}
    <h1>20 et 21  mai 2017</h1>
    <p>Inscriptions aux courses des 24 heures de l'INSA</p>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% else %}
        <p><a class="btn btn-danger btn-large" href="{{ path('register') }}">Inscription &raquo;</a>  <a
            class="btn btn-success btn-large" href="{{ path('login') }}">Connexion &raquo;</a> <br/></p>
    {% endif %}
    <div>
        <!--{% render "RotisCourseMakerBundle:Edition:linkResults" %} -->
		<a href="http://chronospheres.fr/evenements/detail/24H-INSA-59">Résultats de la 42ème édition</a>
    </div>
    {% if app.session.hasFlash('notice') %}
        <div class="flash-notice">
            <h3 class="notice">{{ app.session.flash('notice') }}</h3>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span15">
                        <h3>Changements par rapport à l'année dernière !</h3>
                    </div>
                    <!--/span-->
                </div>
                <!--row-->
                <div classe="row-fluid">
                    <div class="span3">
                        <p>Attention aux habitués : pensez à lire le nouveau réglement ! <br/>
                        La course caritative est mieux définie.<br/><br/></p>
                    </div>
                    <!--/span-->
                </div>
                <!--row-->
                <div class="row-fluid">
                    <div class="span15">
                        <h2>Types de Courses :</h2>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row-fluid">
                    <div class="span3">
                        <h2>Vélo</h2>

                        <p>La course emblématique des 24h de l'INSA ! Quel que soit ton niveau viens rouler au milieu
                            des vélos folklo dans une ambiance de folie et à proximité de tous les avantages du village
                            coureur pour une épreuve d'endurance inoubliable de 24 heures.</p>

                        
                    </div>
                    <!--/span-->
                    <div class="span3">
                        <h2>Triathlon</h2>

                        <p>Le 24thlon. Une épreuve de 24h dont 4h de natation, 14h de vélo et enfin
                            6h de course à pied !</p>

                        
                    </div>
                    <!--/span-->
                    <div class="span3">
                        <h2>Pied</h2>

                        <p>L'épreuve d'endurance de course à pied de 24h. Un défi unique en solo ou en équipe. Sur un
                            parcours plein d'ambiance au centre des animations de la journée.</p>

                        
                    </div>
                    <!--/span-->
                    {#pas de natation cette annee #}
                    {#
                    <div class="span3">
                        <h2>Natation</h2>

                        <p>Dans un cadre festif viens te mesurer aux autres nageurs pour une épreuve d'endurance de 4h.
                            Nage pour le plaisir ou la competition.</p>

                        
                    </div>
                    #}
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row-fluid">
                    <div class="span15">
                        <h2>Catégories :</h2>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row-fluid">
                    <div class="span3">
                        <h2>Solo</h2>

                        <p>Le choix des athlètes à la recherche d'un défi d'endurance. Une catégorie extrêmement
                            physique qui nécessitera sans doute plusieurs arrêts au village coureur pour le
                            ravitaillement et sur la table de massage.</p>

                    </div>
                    <!--/span-->
                    <div class="span3">
                        <h2>Equipe</h2>

                        <p>Pour les coureurs qui cherchent la performance. <strong>Des équipes de 2 à 4
                                coureurs</strong> entrainés pour une course de haut niveau. Notre volonté de proposer une catégorie compétitive amène chaque année les coureurs à se dépasser et à réaliser de véritables prouesses.</p>

                    </div>
                    <!--/span-->
                    <div class="span3">
                        <h2>Loisir</h2>

                        <p>Une catégorie qui s'adresse aux plus nombreux. <strong>Des équipes de maximum 12
                                coureurs</strong> pour une épreuve détente où amusement et bonne ambiance sont les
                            maîtres mots. </p>

                    </div>
                    <!--/span-->
{# cette annee on passe les hors categorie comme Loisirs #}
{#
                    <div class="span3">
                        <h2>Hors Catégorie</h2>

                        <p>Pour les plus originaux. Tandems, runbikes, vélo couchés, c'est dans cette catégorie que vous
                            jouerez et participerez à mettre l'ambiance sur la course au coté des folklos et des autres
                            coureurs. </p>

                        
                    </div>
                    <!--/span-->
#}
                   
                    <div class="span3">
                        <h2>Course Folklo</h2>
               
                        <p>Une course où la bonne humeur et la bonne ambiance sont au rendez-vous. Le but est de s'amuser et d'être le plus original ! <br/>
                            Que vous soyez déguisés ou que vous veniez avec votre vélo décoré et stylisé cette course est pour vous. Elle se déroule sur une courte durée, et un classement des vélos les plus originaux sera organisé.<br/>Vous pouvez venir seul ou à plusieurs pour cette course se déroulant le samedi après-midi. </p>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!--/span-->
        </div>
        <!--/row-->
    </div><!--/container -->

{% endblock %}
