{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - Contact{% endblock %}

{% block div %}
    <br/>
    <h1>Nous contacter</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="offset1 span10">
                <h2>Par courrier</h2>

                <p>Club des 24 Heures de l’INSA <br/>
                    Campus LyonTech/la Doua – Bâtiment D<br/>
                    20, avenue Albert Einstein<br/>
                    69621 Villeurbanne CEDEX
                </p>

                <h2>Venir au local</h2>

                <p>Le local se situe au milieu du campus de LyonTech/la Doua où se déroule la manifestation en Mai
                    <a href="https://maps.google.fr/maps?f=q&source=s_q&hl=fr&geocode=&q=locaux+des+24+heures+de+l%27insa&aq=&sll=45.317723,5.43724&sspn=4.202327,10.821533&vpsrc=0&ie=UTF8&hq=local+des+24+heures+de+l%27insa&hnear=&radius=15000&ll=45.79027,4.874153&spn=0.130231,0.338173&t=m&z=12&cid=18388365100112688499&iwloc=A"><strong>(plan d'accès)</strong></a>
                    .Il est côté INSA, au rez-de-chaussée du bâtiment D (pancarte devant).
                    Pour venir en transports en commun, descendre à la station Gaston Berger-la Doua du tramway T1.<br/>
                    Permanences entre 12h 15 et 14h, 18h et 21h tous les jours de la semaine.
                </p>

                <h2>Par téléphone</h2>

                <p>Tél. : 04 72 43 70 00<br/>
                    Fax : 04 72 43 87 37
                </p>

                <h2>Par e-mail</h2>

                <p>
                    <br/>
                    <strong><a href="mailto:courses@24heures.org">courses@24heures.org (organisation des
                            courses)</strong></a><br/>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
