{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - FAQ{% endblock %}

{% block div %}
    <br/>
    <h1>FAQ</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="offset1 span10">
            <h2>Les courses, c'est quoi, c'est quand?</h2>
            <p>Ce sont des courses d'une durée de 24 heures du samedi 14h au dimanche 14h.<br/>
            Il y en a quatres types:</p>
            <ul>
                <li>Vélo</li>
                <li>Course à pied</li>
                <li>Triathlon (le 24thlon comme on dit chez nous) qui regroupe 4h de natation puis 14h de vélo pour
                    terminer sur 6h de course à pied</li>
                <li>Folklo</li>
            </ul>
            <p>La dernière épreuve est un défi natation de 4h dans la piscine de l'INSA le samedi.
                Il est réalisé en ligne d'eau avec plusieurs équipes nageant par ligne d'eau.</p>

            <h2>Comment je m'inscris?</h2>
            <p>Pour cela il faut aller dans l'onglet inscription du site et renseigner les champs obligatoires
                et optionnels,les information optionnelles nous facilitent grandement la communication avec les coureurs.</p>

            <h3>Documents nécessaires à la validation de l'inscription:</h3>
            <ul>
                <li>Le paiement par coureur</li>
                <li>Un <strong>certificat médical</strong> portant la mention "autorise la pratique de 'sport en question'
                    en compétition ".  la mention <strong>en compétition</strong> est obligatoire, sans quoi nous nous
                    verrons obligés de rejeter votre certificat, de même le sport autorisé à la pratique doit être
                    celui de la course.</li>
                <li>Pour les sportifs licenciés, il est possible de fournir une photocopie de votre
                    <strong>licence en cours de validité</strong> à la place du certificat médical</li>
                <li>Si vous êtes étudiant, une photocopie de votre carte étudiant.</li>
            </ul>

            <h2>Comment fonctionnent les équipes?</h2>
            <ul>
                <li>Equipe 'Solo' : A toi seul de relever le défi de tenir 24 heures</li>
                <li>Equipe 'Equipe' : La course se fait à 2 ou 3 coureurs, chacun porte un dossard. Un seul membre de l'équipe est sur le circuit à la fois.</li>
                <li>Equipe 'Loisir' : La course se fait de 4 à 12 coureurs, l'équipe n'a qu'un seul dossard et comme pour la course Equipe, un seule membre de l'équipe est sur le circuit à la fois</li>
            </ul>

            <h2>Combien ça coûte?</h2>
            <p>Pour les courses vélo et triathlon en Solo, Equipe ou bien hors catégorie les prix sont :</p>
            <ul>
                <li>20 € par personne</li>
                <li>15 € pour les étudiants</li>
            </ul>
            <p>Pour la Course à pied Solo ou Equipe:</p>
            <ul>
                <li>15 € par personne</li>
                <li>10 € pour les étudiants</li>
            </ul>

            <p>Pour le Défi Natation en Solo ou Equipe:</p>
            <ul>
                <li>10 € par personne</li>
                <li>5 € pour les étudiants</li>
            </ul>
            <p>Pour les équipes 'Loisir' toutes les courses sont à 5 € par personne.</p>
            <p>Les courses Folklo sont Gratuites</p>

            <h2>Comment je viens ?</h2>
            <p>Il est possible de venir en voiture, un accès sera ouvert jusqu'au samedi 12h00.
                Vous pourrez venir avec votre voiture, votre tente, votre chien, votre tipis ou encore votre camping car.</p>

            <h2>Les Folklo c'est quoi ?</h2>
            <p>Faire la course en folklo ça sert à mettre l'ambiance!<br/>
               Viens avec ton vélo déguisé ou toi déguisé sur ton vélo, si tu es un pro du bricolage, tu peux même
                faire un véhicule pour plusieurs personnes, décoré, stylisé, bonne ambiance assuré.
                Pour les véhicule folklo, un parcours alternatif (beaucoup plus court) sera mis en place.</p>

            <h2>Moi j'ai un vélo mais c'est pas vraiment un vélo, je fais quoi ?</h2>
            <p>Ceci s'adresse à toi propriétaire d'un vélo couché, run bike ou autre. La catégorie hors catégorie
                est faite pour toi ! Grace à cette catégorie tu pourra participer à la course vélo et au triathlon
                et bénéficier d'un classement à part!</p>
        </div>
    </div>
</div>

{% endblock %}