{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker -  Infos pratiques{% endblock %}

{% block content %}   

<h1>Tutoriels de l'admin!</h1>

    <h3>1. Ajouter des logins/mdp admins</h3>
    <h3>2. Editer des équipes</h3>
    <h4>2.1. Valider les papiers d'un joueur </h4>

{% endblock %}
