{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker -  Infos pratiques{% endblock %}

{% block content %}

    <h1>Tutoriels de l'admin!</h1>

    <h3>1. Dashboard d'administration</h3>
    <h4 id="myAnim1" name="answer" onclick="showDiv()"><a>1.1 Générer les données</a></h4>
    <div id="myDiv1" style="display:none;" class="answer_list">
        <p>
        Accédez à admin_home et cliquez sur "Accéder au dashboard d'admin". Voici les étapes à suivre :
        <ol>
            <li>Créer l'édition</li>
            <li>Créer une catégorie de course</li>
            <ul>
                <li>Les catégories définissent la façon dont les équipes se positionnent dans une course</li>
                <li>Par exemple solo, équipe, loisir, ...</li>
            </ul>
            <li>Créer un type de course</li>
            <ul>
                <li>Les types de courses définissent le moyen utilisé</li>
                <li>Par exemple pied, velo, roller , ...</li>
            </ul>
            <li>Créer une course</li>
            <li>Associer un tarif à une course et sa catégorie</li>
        </ol>
        </p>

    </div>




    <h3>2. Controler les équipes</h3>

    <h4 id="myAnim2" name="answer" onclick="showDiv()"><a>2.1. Afficher toutes les équipes</a></h4>
    <div id="myDiv2" style="display:none;" class="answer_list">
        <p>
        <ul>
            <li>Ouvrez admin_home</li>
            <li>Cliquez sur le bouton afficher toutes les équipes</li>
            <li>Cliquez sur une équipe pour afficher ses informations ainsi qu'un formulaire d'édition</li>
            <li><strong>L'édition d'équipe n'est à utiliser qu'en dernier recours</strong></li>
        </ul>
        </p>
    </div>

    <h4 id="myAnim3" name="answer" onclick="showDiv()"><a>2.2 Afficher les équipes par course</a></h4>
    <div id="myDiv3" style="display:none;" class="answer_list">
        <p>
        <ul>
            <li>Ouvrez /admin en cliquant sur votre nom d'utilisateur dans le bandeau en haut</li>
            <li>Cliquez sur le bouton afficher toutes les courses</li>
            <li>Vous voyez maintenant toutes les courses de la base de données</li>
            <li>Il suffit de sélectionner une course pour afficher toutes les équipes inscrites</li>
            <li>Cliquez sur une équipe pour afficher ses informations ainsi qu'un formulaire d'édition</li>
            <li><strong>L'édition d'équipe n'est à utiliser qu'en dernier recours</strong></li>
        </ul>
        </p>
    </div>

    <h4 id="myAnim4" name="answer" onclick="showDiv()"><a>2.3 Valider les papiers d'un coureur</a></h4>
    <div id="myDiv4" style="display:none;" class="answer_list">
        <p>
        <ul>
            <li>Une fois que vous avez affiché une équipe, il vous est possible de valider les papiers/paiements de
                chaque joueur
            </li>
            <li>Cliquez sur le bouton qui correspond^^</li>
        </ul>
        </p>
    </div>
    <h3>3. Editer les équipes</h3>
    <h4 id="myAnim5" name="answer" onclick="showDiv()"><a>3.1 Edition des équipes</a></h4>
    <div id="myDiv5" style="display:none;" class="answer_list">
        <p>
           <ul>
            <li>
                Il vous est possible d'éditer les noms, mots de passes, catégories et courses d'une équipe.
            </li>
            <li>
                Merci de n'utiliser cette fonctionnalité qu'en cas d'erreur ou de perte de mot de passe d'une équipe!
            </li>
            <li>
                Vous n'avez qu'à renseigner les nouvelles informations dans les champs correspondants.
            </li>
            <li>
                <strong>N'entrez aucun mot de passe si vous n'avez pas à le changer, idem pour la confirmation.</strong>
            </li>
            <li>
                Pensez à envoyer un mail au chef de l'équipe concernée!
            </li>
           </ul>
        </p>
    </div>
    <h4 id="myAnim6" name="answer" onclick="showDiv()"><a>3.2 Edition des coureurs</a></h4>
    <div id="myDiv6" style="display:none;" class="answer_list">
        <p>
        <ul>
            <li>
                Il vous est possible d'ajouter vous-mêmes des coureurs. Ne le faites que dans les cas extrêmes.
            </li>
            <li>
                Vous pouvez éditer les informations des coureurs via le bouton correspondant à chaque coureur.
            </li>
            <li>
                Il est aussi possible de supprimer un coureur, faites bien attention!
            </li>
        </ul>
        </p>
    </div>

{% endblock %}
