{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker -  Infos pratiques{% endblock %}

{% block content %}

    <h1>Tutoriels de l'admin!</h1>

    <h3 id="myAnim1" name="answer" onclick="showDiv()"><a>1. Ajouter des logins/mdp admins</a></h3>

    <div id="myDiv1" style="display:none;" class="answer_list">
        <p>
        <ul>
            <li>Ouvrir le fichier security.yml qui se trouve dans l'arborescence
                /var/www/symfony/app/config/security.yml
            </li>
            <li>Dans ce fichier vous trouverez sous le paragraphe security providers in_memory memory users une entité
                admin de base
            </li>
            <li>Imitez la syntaxe en sachant que admin est le username de l'entité, password son mot de passe, roles
                définit ses droits
            </li>
            <li><strong>Il est recommandé de ne pas stocker le mot de passe dans security.yml. Je vous invite à employer
                    une variable <br/>
                    que vous déclarerez dans votre fichier parameters.yml</strong></li>
            Exemple: %admin_password%
            <li>Dans parameters.yml, déclarez votre mot de passe comme suit : admin_password: ...</li>
            <li><strong>Utilisez un algorithme de hashage pour augmenter la sécurité</strong></li>
            <li>Lancez la commande suivante dans un terminal: echo -n "yourpassword" | openssl sha1</li>
            <li>Avec "seedy" on obtient 7ade87d7d871c86a19456a273bd790f070d94477 Plutôt sympas non?</li>
            <li>Il ne vous reste plus qu'à insérer le mot de passe hashé dans votre fichier</li>
        </ul>
        </p>

    </div>


    <h3>2. Controler les équipes</h3>

    <h4 id="myAnim2" name="answer" onclick="showDiv()"><a>2.1. Afficher toutes les équipes</a></h4>
    <div id="myDiv2" style="display:none;" class="answer_list">
        <p>
        <ul>
            <li>Ouvrez /admin en cliquant sur votre nom d'utilisateur dans le bandeau en haut</li>
            <li>Cliquez sur le bouton afficher toutes les équipes</li>
            <li>Cliquez sur une équipe pour afficher ses informations ainsi qu'un formulaire d'édition</li>
            <li><strong>L'édition d'équipe n'est à utiliser qu'en dernier recours</strong></li>
        </ul>
        </p>
    </div>

    <h4 id="myAnim3" name="answer" onclick="showDiv()"><a>2.2 Afficher les équipes par course</a></h4>
    <div id="myDiv3" style="display:none;" class="answer_list">
        <p>
        <ul>
            <li>Ouvrez /admin en cliquant sur votre nom d'utilisateur dans le bandeau en haut</li>
            <li>Cliquez sur le bouton afficher toutes les courses</li>
            <li>Vous voyez maintenant toutes les courses de la base de données</li>
            <li>Il suffit de sélectionner une course pour afficher toutes les équipes inscrites</li>
            <li>Cliquez sur une équipe pour afficher ses informations ainsi qu'un formulaire d'édition</li>
            <li><strong>L'édition d'équipe n'est à utiliser qu'en dernier recours</strong></li>
        </ul>
        </p>
    </div>

    <h4 id="myAnim4" name="answer" onclick="showDiv()"><a>2.3 Valider les papiers d'un coureur</a></h4>
    <div id="myDiv4" style="display:none;" class="answer_list">
        <p>
        <ul>
            <li>Une fois que vous avez affiché une équipe, il vous est possible de valider les papiers/paiements de
                chaque joueur
            </li>
            <li>Cliquez sur le bouton qui correspond^^</li>
        </ul>
        </p>
    </div>
    <h3>3. Editer les équipes</h3>
    <h4 id="myAnim5" name="answer" onclick="showDiv()"><a>3.1 Edition des équipes</a></h4>
    <div id="myDiv5" style="display:none;" class="answer_list">
        <p>
           <ul>
            <li>
                Il vous est possible d'éditer les noms, mots de passes, catégories et courses d'une équipe.
            </li>
            <li>
                Merci de n'utiliser cette fonctionnalité qu'en cas d'erreur ou de perte de mot de passe d'une équipe!
            </li>
            <li>
                Vous n'avez qu'à renseigner les nouvelles informations dans les champs correspondants.
            </li>
            <li>
                <strong>N'entrez aucun mot de passe si vous n'avez pas à le changer, idem pour la confirmation.</strong>
            </li>
            <li>
                Pensez à envoyer un mail au chef de l'équipe concernée!
            </li>
           </ul>
        </p>
    </div>
    <h4 id="myAnim6" name="answer" onclick="showDiv()"><a>3.2 Edition des coureurs</a></h4>
    <div id="myDiv6" style="display:none;" class="answer_list">
        <p>
        <ul>
            <li>
                Il vous est possible d'ajouter vous-mêmes des coureurs. Ne le faites que dans les cas extrêmes.
            </li>
            <li>
                Vous pouvez éditer les informations des coureurs via le bouton correspondant à chaque coureur.
            </li>
            <li>
                Il est aussi possible de supprimer un coureur, faites bien attention!
            </li>
        </ul>
        </p>
    </div>
{% endblock %}
