{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - Informations{% endblock %}

{% block div %}
    <br/>
    <h1>Informations</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="offset1 span10">
            <h2>Finalisation de votre inscription</h2>
            <p>Merci de nous faire parvenir avant le 15 mai 2013 les documents suivants nécessaires à la validation de votre inscription :
                - certificat médical en cours de validité ou photocopie d'une license sportive en cours de validité
                - règlement des frais d'inscriptions
                - photocopie de la carte étudiante (pour les étudiants)
                au Club des 24 Heures de l'INSA
                20 av Albert Einstein Rdc Bâtiment D
                69621 Villeurbanne Cedex</p>
        </div>
    </div>
</div>

{% endblock %}