{% extends 'RotisCourseMakerBundle::layout.html.twig' %}
{% block title %}Accueil page{% endblock %}
{% block content %}
  <div class="container-fluid">
          <div class="row-fluid">            
            <div class="span12">
              <div class="hero-unit">
                <img src="{{ asset('bundles/rotiscoursemaker/img/logo_24H.png') }}" alt="24Heures" width="128" height="128" />
                <h1>17,18,19 mai 2013</h1>
                <p>Inscription aux site des 24 heures de l'insa</p>
                <p><a class="btn btn-primary btn-large">Se connecter &raquo;</a></p>
                <p><a class="btn btn-primary btn-large">Inscription &raquo;</a></p>
              </div>
              <div class="row-fluid">
		 <div class="span15">
		   <h2>Courses :</h2>
		 </div><!--/span-->
		 </div><!--/row-->
		 <div class="row-fluid">
                <div class="span4">
                  <h2>Vélo</h2>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <p><a class="btn" href="#">View details &raquo;</a></p>
                </div><!--/span-->
                <div class="span4">
                  <h2>Triathlon</h2>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <p><a class="btn" href="#">View details &raquo;</a></p>
                </div><!--/span-->
                <div class="span4">
                  <h2>Pied</h2>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <p><a class="btn" href="#">View details &raquo;</a></p>
                </div><!--/span-->
              </div><!--/row-->
              <div class="row-fluid">
                <div class="span15">
                  <h2>Catégorie :</h2>
                </div><!--/span-->
              </div><!--/row-->
              <div class="row-fluid">
                <div class="span4">
                  <h2>Solo</h2>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <p><a class="btn" href="#">View details &raquo;</a></p>
                </div><!--/span-->
                <div class="span4">
                  <h2>Pro</h2>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <p><a class="btn" href="#">View details &raquo;</a></p>
                </div><!--/span-->
                <div class="span4">
                  <h2>Loisir</h2>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <p><a class="btn" href="#">View details &raquo;</a></p>
                </div><!--/span-->
              </div><!--/row-->
            </div><!--/span-->
          </div><!--/row-->
    

{% endblock %}
