{% extends 'RotisCourseMakerBundle::layout.html.twig' %}

{% block title %}CoursesMaker - Choix de la Course{% endblock %}
{% block div %}
    <h1>Tableau de Bord</h1>
{% endblock %}
{% block content %}


    <form>

    </form>
    <ul>
        {% for course in courses %}
            <li><a href="{{ path('admin_par_course', { 'id': course.getId() }) }} ">{{ course.nom }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}