{% extends 'RotisCourseMakerBundle::layout.html.twig' %}
{% block title %}CoursesMaker - Edition de la course{% endblock %}
{% block div %}
    <h1>Edition de {{ course.nom }}</h1>
{% endblock %}
{% block content %}

    <div class="span3">
        <p><a class="btn" href="{{ path('admin_switch_ouverture', {'idcourse': course.getId(), 'status': course.getInscriptionsOuvertes() }) }}">{% if course.getInscriptionsOuvertes() %}Fermer les inscriptions{% else %}Ouvrir les inscriptions{% endif %}</a></p>
    </div><!--/span-->


{% endblock %}