{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block top_bar_before_nav %}
    <li>
        <a href="{{ url('accueil') }}"><i class="icon-home"></i> Site public</a>
    </li>
{% endblock %}
